<table id="<%= dom_id friend%>" class="table table-dark table-hover">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
    </tr>
  </thead>
  <tbody >
    <tr>
      <th scope="row">1</th>
      <td><%= friend.primeiro_nome%></td>
      <td><%= friend.last_name%></td>
      <td><%= friend.email%></td>
      <td><%= friend.phone%></td>
      <td><%= friend.twitter%></td>
    </tr>
  </tbody>
</table>

<!-- <div id="<%= dom_id friend %>">
  <p>
    <strong>Primeiro nome:</strong>
    <%= friend.primeiro_nome %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div> -->
